nav{
  width: 100%;
  background-color: black;
}

nav ul{
  display: inline-block;
  margin-bottom: 0;
}

nav ul:last-child{
  float: right;
  li a{
    color: white;
  }
}

nav ul li{
  display: inline-block;
  padding: 20px 10px;
}

nav ul li:first-child{
  padding-left: 20px;
}
