.card-list{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 247);
}

