nav ul{
  background-color: #000;
  li{
    display: inline-block;
    padding: 1rem;
    a{
      text-decoration: none;
      color: #fff;
      :active{
        background-color: green;

      }
    }
  }
}
