
<div class="">
  <nav aria-label="Page navigation exampl ">
    <ul class="pagination center">
      <li class="page-item"><a class="page-link">Previous</a></li>
      <li class="page-item"  [ngClass]="{'active':odd==true,'pointer':odd==false}" (click)="getCartItems(page)"><a class="page-link" >{{page}}</a></li>
      <li class="page-item" [ngClass]="{'active':odd==false,'pointer':odd==true}" (click)="getCartItems(page+1)"><a class="page-link" >{{page+1}}</a></li>
      <li class="page-item"><a class="page-link">Next</a></li>
    </ul>
  </nav>
<div>
